     #header{
            background-color: #41967C;
        }
        #footer{
            background-color: #41967C;
        }
        #titulo{
            color: #32413D;
        }
        .paginate{
            color: #000;
            background-color: #000;
        }